/* Full Height & Width for Hero Section */
.hero-section {
    background: linear-gradient(to right, black, yellow);
    height: 30vh;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Category Styling */
  .category-box {
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  /* Featured Project Cards */
  .card {
    transition: 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  